.loading{
    z-index: 5;
  }
  
  .loading.true{
    height: 100vh;
      background-color: #69e7c8;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: fixed;
      overflow: hidden
  }
  
  .loading.false{
    display: none;
  }